@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}


body{
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

/* Хедер */
.page-header{
  background-color: #FFE17F;
  color: #000000;
}

.visually-hidden{
  visibility: hidden;
}

.navigation-user-link{
  color: #000000;
  text-decoration: none;
}

.search-button{
  font-size: 16px;
  line-height: 20px;
}

.catalog-open{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-catalog-link{
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.navigation-information-button{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Слайдер */
.title-item{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.more-detailed-link{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.parameter{
  font-size: 36px;
  line-height: 30px;
}

/* Продукты */

.product-item{
  background-color: #FFE17F;
}

.product-link{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/* Сервисы */
.box-service{
  background-color: #F0F0F0;
}

Сервисы
.more-detailed-button{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.title-service{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Заказ редкого товара */

.box-product-order{
  background-color: #F0F0F0;
}

/* Информация о компани  и контакты */

.product-order-button{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.transport-company-item{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-address-text{
  font-style: normal;
}

.shop-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-phone{
  font-style: normal;
  color: #444444;
}

.contacts-subtitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Подписка на рассылку */

.subscribe{
  background-color: #F0F0F0;
}
.subscribe-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-button{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


/* Футер */

.page-footer{
  background-color: #444444;
}
.address-description{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
}

.footer-menu-link{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.footer-contacts .contacts-phone{
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
}

/* Страница каталога */

.inner-header-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-link{
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.catalog-product{
  background-color: #F0F0F0;
}
.catalog-filter-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-value{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}
.control{
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.inner-products-container{
  background-color: #ffffff;
}
.inner-products-link{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  font-style: normal;
  text-decoration: none;
}

.inner-products-price{
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.show-more{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link-back{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link-number{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}

.pagination-link-next{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
